@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&family=Exo:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=VT323&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "exo";
}

.pokemon {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-image: url(Gemini_Generated_Image_jy6dxkjy6dxkjy6d.png);
}

body {
    height: 100vh;
}
.top {
    /* height: 40%; */
    display: flex;
    flex-direction: column;
}
.pokemon img {
    transform: scaleX(-1);
    height: 100%;
}
.pokemon .info {
    height: 200px;
  display: flex;
  justify-content: space-around;
}

.pokemon .info .texts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pokemon .info .texts .title {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.pokemon .info .texts .text {
  font-size: 20px;
  color: rgb(255, 255, 255);
  border-top: white solid 2px;
  border-left: white solid 2px;
  border-top-left-radius: 25px;
  text-align: center;
  padding-left: 20px;
  font-weight: bold;
}

#div_description {
  color: rgb(0, 0, 0);
  background-image: linear-gradient(0deg, #7d2926, #e44b45);
  font-size: 20px;
  border-top: solid rgb(255, 255, 255) 1px;
  height: 100px;
  textsize
}

#slide_bar {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 colunas de tamanhos iguais */
  width: 50%; /* Largura total da barra */

  /* REMOVA ESTA LINHA: justify-items: center; */
  /* Ao remover, o padrão vira "stretch" (esticar), que preenche tudo */

  gap: 10px; /* Use GAP para dar espaço entre os itens, não margin/width */
  background-color: #00d6e7;
  padding: 10px; /* Opcional: para o grid não colar na borda azul */
  height: 50%;
  overflow-y: auto;
}

#slide_bar div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* CORREÇÃO AQUI */
  width: 100%; /* Mude para 100% para ocupar toda a célula do grid */
  height: 100px;
  background-color: #05818a;
  border-radius: 15px;
  transition: ease 0.3s;
}
#slide_bar div img {
  height: 50px;
}
#slide_bar div:hover {
  transform: scale(1.03);
  filter: brightness(1.03);
  cursor: pointer;
}
